<!--<dx-select-box
  [items]="estados | async"
  placeholder="Selecione o Estado"
  displayExpr="sigla"
  [searchEnabled]="true"
  [value]="estadoUF"
  (valueChange)="setEstado($event)"
  style="padding-top: 40px">-->
<dx-select-box
  [items]="estradaEstado"
  placeholder="Selecione o Estado"
  displayExpr="sigla"
  [searchEnabled]="true"
  [value]="estadoUF"
  (valueChange)="enviaEstado($event)"
  style="padding-top: 40px">

</dx-select-box>
<dx-select-box
  [items]="estradaCidade"
  placeholder="Selecione a Cidade"
  displayExpr="nome"
  [searchEnabled]="true"
  style="padding-top: 40px">
</dx-select-box>

<!--
<dx-select-box
  [items]="cidades"
  placeholder="Selecione a Cidade"
  displayExpr="nome"
  [searchEnabled]="true"
  style="padding-top: 40px">
</dx-select-box>
-->
