<dx-select-box
  [items]="estradaEstado"
  placeholder="Selecione o Estado"
  displayExpr="sigla"
  [searchEnabled]="true"
  [value]="estadoUF"
  (valueChange)="enviaEstado($event)"
  style="padding-top: 40px"
  (onBlur)="showListaCidade()">
</dx-select-box>
<dx-load-panel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#teste' }"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
  (onShown)="onShown()"
  (onHidden)="onHidden()">
</dx-load-panel>

<div id="teste1">
  <dx-select-box
    [items]="estradaCidade"
    placeholder="Selecione a Cidade"
    displayExpr="nome"
    [searchEnabled]="true"
    style="padding-top: 40px">
  </dx-select-box>
</div>

