<h2 class="content-block">Nota Fiscal</h2>

<div id="form-container">
  <dx-form id="" [(formData)]="notaFiscal">

      <dxi-item itemType="tabbed">

        <dxi-tab title="Dados Nota">
          <dxi-item dataField="numero" editorType="dxTextBox" [editorOptions]="{ width: '300'}"></dxi-item>
          <dxi-item dataField="fornecedor" template="selectFornecedor"></dxi-item>
          <dxi-item dataField="data" editorType="dxDateBox" [editorOptions]="{ width: '300'}"></dxi-item>
        </dxi-tab>

        <dxi-tab title="Informaçoes Extra">
          <estados-cidades estradaEstado="estados"></estados-cidades>
        </dxi-tab>

        <dxi-tab title="Itens">
          <dxi-item dataField="itens" template="gridTemplate"></dxi-item>
        </dxi-tab>

      </dxi-item>

      <dxi-item template="buttonTemplate"></dxi-item>

      <div *dxTemplate="let data of 'selectFornecedor'">
        <dx-select-box
                      [(value)]="data.component.option('formData')[data.dataField]"
                      displayExpr="fornecedor"
                      [items]="fornecedores">
        </dx-select-box>
      </div>

      <div *dxTemplate="let data of 'buttonTemplate'">
        <dx-button
          stylingMode="contained"
          text="Salvar"
          type="normal"
          [width]="120"
          (onClick)="click($event)">
        </dx-button>
      </div>

    <div *dxTemplate="let data of 'gridTemplate'">
      <dx-data-grid
        [(dataSource)]="notaFiscal.itens">

        <dxo-editing
          mode="row"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [allowAdding]="true">
        </dxo-editing>

        <dxi-column dataField="item" caption="Item"></dxi-column>
        <dxi-column dataField="valor" caption="Valor"></dxi-column>

      </dx-data-grid>
    </div>

  </dx-form>
</div>
